@import '../../styles/variables';

.catalog_cards {
    margin-top: 90px;
    &_wrapper {
        margin-top: 48px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
}
.catalog_card {
    width: 220px;
    height: 220px;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 3%;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
        scale: 1.05;
    }
    &_img {
        height: 100%;
    }
    &_name {
        height: 21.5%;
        width: 100%;
        position: absolute;
        bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: azure;
        z-index: 2;
    }
    &_name_background {
        height: 21.5%;
        width: 100%;
        position: absolute;
        bottom: 0px;
        background-color: $my-blue;
        opacity: 0.6;
    }
    &_loading {
        background-color: rgb(205, 205, 205);
        cursor: default;
        &:hover {
            scale: none;
        }
    }
}
.error {
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
    color: #fd6c6c;
}

@import './media';
