@media (max-width: 991px) {
    .catalog {
        &_cards {
            margin-top: 75px;
            &_wrapper {
                margin-top: 38px;
            }
        }
        &_card {
            width: 150px;
            height: 150px;
            &_name {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 575px) {
    .catalog_cards {
        margin-top: 15px;
        &_wrapper {
            margin-top: 18px;
        }
    }
    .catalog_card {
        width: 120px;
        height: 120px;
        &_name {
            font-size: 12px;
            font-weight: 500;
        }
    }
}
