.products-grid {
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
    column-gap: 32px;
    row-gap: 44px;

    .item-card {
        place-self: center center;
    }
}
.products-line {
    background-color: #fff;
}

@import './media';
