.slider {
  height: 400px;
  margin-top: 27px;
  &_wrapper {
    position: relative;
    overflow: hidden;
  }
  &_images {
    position: relative;
  }
  &_img {
    width: 1190px;
    padding-right: 10px;
    position: absolute;
    display: none;
  }
  &_btn {
    width: 113px;
    height: 48px;
    display: flex;
    position: absolute;
    bottom: 25px;
    right: 40px;
    justify-content: space-between;
    &_prev,
    &_next {
      width: 48px;
      border-radius: 60%;
      background-color: #fff;
      text-align: center;
      line-height: 52px;
      cursor: pointer;
    }
    &_next {
      img {
        rotate: 180deg;
      }
    }
  }
}

.fade-left,
.fade-right,
.show-left,
.show-right {
  animation: 2s;
}
.fade-left {
  animation: fade-left;
}
.fade-right {
  animation: fade-right;
}
.show-left {
  animation: show-left;
}
.show-right {
  animation: show-right;
}

@keyframes fade-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1190px);
    display: none;
  }
}
@keyframes fade-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(1190px);
    display: none;
  }
}
@keyframes show-left {
  from {
    transform: translateX(-1190px);
    display: none;
  }
  to {
    transform: translateX(0);
  }
}
@keyframes show-right {
  from {
    transform: translateX(1190px);
    display: none;
  }
  to {
    transform: translateX(0);
  }
}
