.item-card {
    position: relative;
    padding: 12px 8px;
    width: 250px;
    height: 388px;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
        box-shadow: -10px 5px 15px rgba(33, 33, 33, 0.2);
    }
    &_favorite {
        position: absolute;
        top: 12px;
        right: 12px;
        transition: all 0.3s;
        &:hover {
            scale: 1.05;
        }
    }
    &_percent-sale {
        width: 38px;
        height: 20px;
        position: absolute;
        top: 12px;
        left: 12px;
        background-color: #e7552c;
        color: #fff;
        line-height: 20px;
        font-size: 14px;
        text-align: center;
        border-radius: 5px;
    }
    &_rate {
        height: 16px;
        display: flex;
        justify-content: start;
        &_img {
            margin-right: 5px;
        }
    }
    &_name {
        margin-top: 10px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 350;
    }
    &_price {
        margin-top: 13px;
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        &_sale {
            display: flex;
            flex-direction: column;
            align-items: end;
            color: #e7552c;
            &_before {
                font-size: 14px;
                color: rgb(124, 124, 129);
                text-decoration: line-through;
            }
        }
        &_usualy {
            text-align: justify;
        }
        &_basket {
            width: 32px;
            height: 32px;
            background-color: #4174cb;
            border-radius: 65%;
            text-align: center;
            transition: all 0.3s;
            &:hover {
                background-color: #233c66;
            }
            img {
                height: 22px;
                width: 22px;
            }
        }
    }
}
