@import '../../styles/variables';

.connection {
    margin-top: 100px;
    min-height: 272px;
    &_wrapper {
        background: #8fafe5;
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &_header {
        margin-top: 10px;
        font-size: 48px;
        font-weight: 400;
        color: $my-blue_hover;
    }
    &_description {
        margin-top: 24px;
        color: #fff;
        font-size: 24px;
        font-weight: 350;
    }
    &_search_form {
        margin-top: 54px;
        width: 620px;
        height: 50px;
        display: flex;
        border: solid 1px $my-blue;
        border-radius: 4px;
        overflow: hidden;
        input {
            padding-left: 15px;
            width: 70%;
            border: none;
            font-size: 16px;
            &:focus {
                outline: none !important;
            }
        }
        &_button {
            width: 32%;
            font-size: 16px;
            font-weight: 400;
        }
    }
}

@import './media';
