.popular-positions-slider {
    height: 424px;
    padding: 40px 0 36px 0;
    &_wrapper {
        position: relative;
        overflow: hidden;
    }
    &_images {
        height: 400px;
        position: relative;
        display: flex;
        transition: all 0.8s;
        &_image {
            position: absolute;
            display: grid;
            grid-template-columns: repeat(4, 250px);
            column-gap: 20px;
            width: 1190px;
            height: 400px;
            padding-right: 10px;
            &[visibility='hide'] {
                display: none;
            }
        }
    }
    &_btns {
        position: absolute;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 65%;
        background-color: #4174cb;
        cursor: pointer;
        transition: all 0.3s;

        &_next {
            right: -30px;
            top: 50%;
            transform: rotateY(180deg) translateY(-50%);
            img {
                transition: all 0.3s;
            }
        }
        &_prev {
            left: -30px;
            top: 50%;
            transform: translateY(-50%);
            img {
                transition: all 0.3s;
            }
        }
        &:hover {
            background-color: #233c66;
            img {
                scale: 1.1;
            }
        }
    }
    &_dots {
        left: 50%;
        bottom: -21px;
        position: absolute;
        display: flex;
        transform: translateX(-50%);
        &_item {
            height: 6px;
            width: 6px;
            margin-right: 16px;
            border-radius: 65%;
            background-color: #4174cb;
            transition: all 0.4s;
            cursor: pointer;
            opacity: 0.9;
            &:hover {
                opacity: 1;
            }
            &_active {
                scale: 2;
            }
        }
    }
}
