@media (max-width: 991px) {
    .product-functional-panel {
        &_functions {
        }
        &_functions_sort {
            width: 300px;
        }
        &_functions_quantity {
            width: 152px;
        }
    }
}

@media (max-width: 768px) {
    .product-functional-panel {
        &_functions {
            width: 80%;
            button {
                display: none;
            }
            &_sort {
                width: 70%;
            }
            &_quantity {
                width: 30%;
            }
        }
        &_product-type {
            width: 20%;
            justify-content: center;
            align-items: center;
            span {
                height: 27px;
            }
        }
    }
}

@media (max-width: 400px) {
    .product-functional-panel {
        &_functions {
            &_sort_type,
            &_quantity {
                font-size: 12px;
            }
        }
    }
}
