.product-functional-panel {
    width: 100%;
    height: 56px;
    &_wrapper {
        height: 32px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &_functions,
    &_quantity {
        height: 100%;
        display: flex;
        justify-content: space-between;
        transition: all 0.3s;
        .search_form {
            overflow: visible;
        }
    }
    &_functions {
        &_sort,
        &_quantity {
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            img {
                position: absolute;
                right: 3px;
                cursor: pointer;
                &:hover {
                    scale: 1.1;
                }
            }
        }
        &_sort {
            width: 315px;

            &_type {
                height: 100%;
                position: relative;
                flex-grow: 1;
                display: flex;
                font-size: 13px;
                font-weight: 400;
                align-items: center;
                justify-content: center;
                &_name {
                    padding-right: 23px;
                }
            }
        }
        &_quantity {
            margin-left: 20px;
            width: 162px;
            &_counter {
                height: 100%;
                position: relative;
                flex-grow: 1;
                display: flex;
                font-size: 13px;
                font-weight: 400;
                align-items: center;
                justify-content: center;
                &_name {
                    padding-right: 23px;
                }
            }
        }
    }
    &_product-type {
        width: 80px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        svg {
            cursor: pointer;
        }
    }
    &_subcategories {
        position: absolute;
        bottom: 0px;
        width: 100%;
        z-index: 1000;
        display: flex;
        transform: translateY(100%);
        align-items: center;
        justify-content: space-between;
        border-radius: 4px;
        box-shadow: 0px 2px 6px 0px rgba(65, 116, 203, 0.6);
        background-color: #fff;
        &_list {
            width: 100%;
            z-index: 1000;
            padding: 10px 0 10px 0;
            animation: showSubcategory 1s forwards;
            &_item {
                position: relative;
                padding-left: 20px;
                z-index: 10;
                font-size: 13px;
                font-weight: 400;
                min-height: 32px;
                list-style: none;
                cursor: pointer;
                span {
                    color: #000;
                }

                &:hover {
                    &::before {
                        background-color: #4174cbac;
                        border: #4174cbac solid 1px;
                    }
                }
                &_wrapper {
                    width: 100%;
                    height: 100%;
                    padding: 8px 8px 8px 23px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 20px;
                    transition: all 0.5s;
                    transform: translateY(-50%);
                    height: 12px;
                    width: 12px;
                    border: #000 solid 1px;
                    border-radius: 65%;
                    background-color: #fff;
                }
                &_active {
                    &::before {
                        background-color: #4174cb;
                        border: #4174cb solid 1px;
                    }
                    &:hover {
                        &::before {
                            background-color: #4174cb;
                            border: #4174cb solid 1px;
                        }
                    }
                }
            }
        }
    }
    &_products {
        padding: 20px 12px 32px 12px;
        background-color: #fff;
        width: 100%;
    }
}

@keyframes showSubcategory {
    0% {
        max-height: 0%;
        opacity: 0;
    }
    100% {
        max-height: 100%;
        opacity: 1;
    }
}
