@import '../../styles/variables';

.app-header {
    min-height: 203px;
    box-shadow: 0 5px 5px #00000033;
}
.nav {
    max-height: 45px;
    background: #f2f2f2;
    &-wrapper {
        padding: 14.5px 0 14.5px 0;
        display: grid;
        grid-template-columns: 309px 691px 180px;
        grid-template-rows: 1fr;
        align-items: self-start;
    }
    &_address {
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
    }
    &_links {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }
    &_link {
        list-style-type: none;
        font-weight: 350;
        font-size: 14px;
        line-height: 18px;
        a {
            text-decoration: none;
            color: #000;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &_phone {
        text-align: end;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}
.company {
    min-height: 50px;
    padding-top: 15px;
    &-wrapper {
        padding-bottom: 15px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border-bottom: solid 1px #b0b0b0;
    }
    &_social {
        display: flex;
        align-items: center;
        a {
            margin-right: 27.5px;
        }
    }
    &_logo {
        text-align: center;
        h1 {
            opacity: 0;
            position: absolute;
        }
        img {
            margin-top: 8px;
        }
    }
    &_info {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &_links {
            margin-left: 48px;
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.func-panel {
    margin: 19px 0 19px 0;
    min-height: 40px;
    &-wrapper {
        display: flex;
        align-items: center;
    }
    &_icons {
        width: 238px;
        margin-left: 53px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_icon {
        width: 76px;
        height: 56px;
        padding: 3px;
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        border-radius: 10%;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            background-color: #8cb4cd49;
        }
        &_active {
            &:before {
                content: '';
                width: 12px;
                height: 12px;
                position: absolute;
                transform: translate(11px, -19px);
                border: solid 2px #fff;
                border-radius: 65%;
                background-color: #ffb745;
            }
        }
        div {
            color: #000;
            text-decoration: none;
        }
    }
}
.search {
    margin-left: 20px;
    position: relative;
    &_form {
        position: relative;
        width: 702px;
        height: 40px;
        display: flex;
        border: solid 1px $my-blue;
        border-radius: 4px;
        overflow: hidden;
        z-index: 201;

        input {
            width: 600px;
            padding-left: 10px;
            border: none;
            font-size: 18px;
            &:focus {
                outline: none !important;
            }
        }
    }
    &_products {
        width: 100%;
        max-height: 70vh;
        overflow-y: auto;
        position: absolute;
        bottom: 2px;
        transform: translateY(100%);
        padding: 10px;
        background-color: #fff;
        border: solid 1px $my-blue;
        border-top: none;
        border-radius: 0 0 10px 10px;
        z-index: 400;
        animation: showList 1s forwards;
        .button {
            width: 100px;
        }
        .buy-card-line .buy-card_functional_price_summary {
            width: 100px;
        }
    }
}

.button_catalog {
    padding: 0 32px;
    font-size: 18px;
    font-weight: 400;
    &_span-container {
        margin-right: 15px;
        width: 14px;
        display: flex;
        flex-direction: column;
        span {
            margin-bottom: 3px;
            width: 14px;
            height: 3px;
            border-radius: 3px;
            background-color: #fff;
            &:nth-child(2) {
                width: 20px;
            }
        }
    }
    &:hover {
        span {
            transition: all 0.5s;
            width: 20px;
            &:nth-child(2) {
                width: 14px;
            }
        }
    }
}

@keyframes showList {
    0% {
        max-height: 0vh;
        opacity: 0;
    }
    100% {
        max-height: 70vh;
        opacity: 1;
    }
}
