@import '../../styles/variables';

.buy-card {
    position: relative;
    width: 100%;
    min-height: 124px;
    padding: 12px 50px 12px 0px;
    display: flex;
    border-top: 1px solid #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    &-line {
        padding-right: 12px;
    }
    &_price_summary {
        width: 120px;
    }
    &_info {
        display: flex;
        width: 50%;
        &_img {
            margin-right: 20px;
            width: 100px;
            height: 100px;
            img {
                width: 100px;
                height: 100px;
                object-fit: cover;
            }
        }
        &_descr {
            font-size: 14px;
            font-weight: 400;
            &_code {
                span {
                    color: $my-blue;
                }
            }
            &_name {
                margin-top: 8px;
                span {
                    font-weight: 600;
                    line-height: 17px;
                }
            }
        }
    }
    &_functional {
        width: 37%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_more-less {
            display: flex;
            margin: 0 5px;
            span {
                width: 34px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $my-blue;
                border: 1px solid #bdbdbd;
                transition: all 0.3s;
                cursor: pointer;
                &:hover {
                    background-color: $my-blue;
                    color: #fff;
                }
                &:nth-child(2) {
                    width: 60px;
                    color: #000;
                    border-left: none;
                    border-right: none;
                    cursor: text;
                    input {
                        width: 100%;
                        border: none;
                        text-align: center;
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                        &:focus {
                            outline: none;
                        }
                    }
                    &:hover {
                        background-color: #fff;
                    }
                }
            }
        }
        &_price {
            &_summary {
                width: 130px;

                &_max {
                    position: relative;
                    &::before {
                        content: 'max.';
                        position: absolute;
                        top: -15px;
                        left: 0;
                        height: 10px;
                        width: 70px;
                        font-size: 12px;
                        font-weight: 400;
                        color: #ff4b3a;
                    }
                }
            }
        }
    }
    &_delete {
        position: absolute;
        top: 20px;
        right: 10px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        div {
            position: absolute;
            width: 20px;
            height: 2px;
            border-radius: 3px;
            background-color: #7c7c7c;
            transition: all 0.3s;
            &:first-child {
                transform: rotate(45deg);
            }
            &:last-child {
                transform: rotate(-45deg);
            }
        }
        &:hover {
            div {
                background-color: #bb2d2d;
                height: 3px;
            }
        }
    }
}

@import './media';
