@media (max-width: 1200px) {
    .buy-card {
        &_functional {
            width: 42%;
        }
    }
}

@media (max-width: 991px) {
    .buy-card {
        &_functional {
            width: 39%;
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;

            height: 100%;
            &_price {
                grid-row-start: 1;
                grid-column-start: 1;
            }
            &_more-less {
                grid-row-start: 1;
                grid-column-start: 2;
                place-self: center center;
            }
            &_price_summary {
                width: auto;
                grid-row-start: 2;
                grid-column-start: 2;
                place-self: end center;
            }
        }
    }
}

@media (max-width: 768px) {
    .buy-card-line,
    .buy-card {
        align-items: start;
        .buy-card {
            &_functional {
                width: 32%;
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-columns: 1fr;
                height: 100%;
                &_price {
                    display: none;
                }
                &_price_summary {
                    margin-top: 10px;
                    grid-column-start: 1;
                    grid-row-start: 3;
                    place-self: center center;
                }
                &_more-less {
                    margin-top: 3px;
                    font-weight: 500;
                    font-size: 20px;
                    grid-column-start: 1;
                    grid-row-start: 2;
                    place-self: center center;
                }
            }
        }
    }

    .buy-card.buy-card-line {
        .buy-card_functional {
            &_price {
                display: block;
                grid-column-start: 1;
                grid-row-start: 1;
                place-self: center center;
            }
        }
    }
}

@media (max-width: 505px) {
    .buy-card-line.buy-card,
    .buy-card {
        flex-direction: column;
        align-items: center;
        .buy-card {
            &_info {
                margin-right: 30px;
                width: calc(100% - 30px);
                &_descr {
                }
            }
            &_functional {
                margin-top: 3%;
                width: 80%;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;

                &_price {
                    grid-row-start: 1;
                    grid-column-start: 1;
                    place-self: center center;
                }
                &_more-less {
                    grid-row-start: 1;
                    grid-column-start: 2;
                    place-self: center center;
                }
                &_price_summary {
                    grid-row-start: 1;
                    grid-column-start: 3;
                    place-self: center center;
                    margin-top: 0;
                    margin-left: 10px;
                }
            }
        }
    }
}

@media (max-width: 445px) {
    .buy-card-line.buy-card {
        .buy-card {
            &_functional {
                width: 100%;
            }
        }
    }
}
